{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}

<h1>공지게시판</h1>

<!-- 공지사항 (작성자, 제목, 내용, 이미지, 작성 시간) -->
<!-- 공지 글쓰기는 간부(0)만 가능 -->
{% if user.user_type == 0 %}
<a class="nav-link" href="{%url 'newnotice' %}">공지글쓰기</a>
{% endif %}


{% for post in notice_posts %}

<br><br>
<div class="card">
    <a href="{% url 'notice_detail' post.id %}">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{post.pub_date}}</h6>
            <p class="card-text">{{post.summary}}</p>
        </div>
    </a>
</div>


{% endfor %}

{% endblock %}