<body>
    <h1>Promotion 세부페이지입니다.</h1>
    <div>
        <br><br>
        제목: <h3> {{details.title}} </h3><br>
        이미지: <img src="{{ details.image.url }}" alt=" promotion image"><br>
        작성일: <h6>{{details.pub_date}}</h6><br>
        본문 : <p>{{details.body}}</p><br>
    </div>
    <div> <!--댓글 입력하기-->    
        <!--action 추가 promotioncomment">-->
        <form method="POST">
            {% csrf_token %}
            댓글<br>
            <textarea cols=40 rows=10 name="comment"></textarea><br>
            <input type="submit" value="작성하기">
        </form>
    </div>
    <div> <!--댓글불러오기
        {% for promotioncomment in promotioncomments.all %}
        <br>
        <div>
             작성자 추가하기 
            <h3> {{promotioncomment.comment}} </h3>
            <h6>{{promotioncomment.pub_date}}</h6>
        </div>   
        {% endfor %}-->
    </div>
    <a href="{% url 'promotion' %}">목록으로</a>
</body>