<h1>promotionboard.html</h1>

<a href="{% url 'promotionwrite' %}">글쓰기</a>
{% for promotion in promotions.all %}
<br>
<div>
    <div>
        <div>
            제목: <h3> {{promotion.title}} </h3><br>
            {% if promotion.image %}
            이미지: <img src="{{ promotion.image.url }}" alt=" promotion image"><br>
            {% endif %}
            작성일: <h6>{{promotion.pub_date}}</h6><br>
            본문요약 : <p>{{promotion.summary}}</p><br>
            <a href="{% url 'promotiondetail' promotion.id %}">...more</a>
        </div>
    </div>    
</div>    
{% endfor %}
<br>
<br>