{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<div class="container">

    <div class="row">

        <!-- content -->
        <div class="col-lg-8">

            <!-- title -->
            <h1 class="mt-4">{{promotion.title}}</h1>

            <!-- author -->
            <p class="lead">
                {{promotion.author}}
            </p>

            <hr>
            <!-- pub_date -->
            <p>{{promotion.pub_date}}</p>
            <hr>

            <!-- image -->
            {% if promotion.image %}
            <img src="{{ promotion.image.url }}" height=400>
            {% endif %}
            
            <!-- body -->
            <p>{{promotion.body}}</p>
            <hr>

            <!-- 삭제는 글쓴이 or 간부(0) -->
            {% if user.user_type == 0 or user.id == promotion.author_id %}
            <a class="btn btn-default" href="{% url 'promotion_remove' promotion.id %}"><i class="far fa-trash-alt"></i></a>
            {% endif %}

            <!-- 수정은 글쓴이 -->
            {% if user.id == promotion.author_id %}
            <a class="btn btn-default" href="{% url 'promotion_edit' promotion.id %}"><i class="far fa-edit"></i></a>
            {% endif %}     

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            {{form.as_p}}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Single Comment -->
            {% for comment in promotion_comments %}
            
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">{{comment.author}}</h5>
                    {{comment.body}}
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>


        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}