{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}

<h1>홍보게시판</h1>

{{asd}}

<!-- 공지사항 (작성자, 제목, 내용, 이미지, 작성 시간) -->
<a class="nav-link" href="{%url 'newpromotion' %}">홍보글쓰기</a>

{% for post in promotion_posts %}

<br><br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">제목 : {{post.title}}</h5>
        포스터 : <img src="{{post.image.url}}" height= 200 alt="">
        <h6 class="card-subtitle mb-2 text-muted">날짜 : {{post.pub_date}}</h6>
        <p class="card-text">본문 미리보기 : {{post.summary}}</p>
        <a href="{% url 'promotion_detail' post.id %}" class="card-link">...more</a>
    </div>
</div>

{% endfor %}

{% endblock %}
