{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}

<h1>Q&A</h1>
<p>궁금한건 무엇이든지 물어보세요!</p>

<!-- 공지사항 (작성자, 제목, 내용, 이미지, 작성 시간) -->
{% if user.user_type == 3 %}
<a class="nav-link" href="{%url 'newqna' %}">Q&A글쓰기</a>
{% endif %}

{% for post in qna_posts %}

<br><br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">제목 : {{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">날짜 : {{post.pub_date}}</h6>
        <p class="card-text">본문 미리보기 : {{post.summary}}</p>
        <a href="{% url 'qna_detail' post.id %}" class="card-link">...more</a>
    </div>
</div>

{% endfor %}

{% endblock %}