{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <meta name="description" content="">
    <meta name="author" content="">

    <title>입뿌</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static '/css/signin.css' %}" rel="stylesheet">
    <style>
    @font-face { font-family: 'UhBeemysen'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff'); font-weight: normal; font-style: normal; }
    @font-face { font-family: 'designhouseOTFLight00'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff') format('woff'); font-weight: normal; font-style: normal; }
    </style>
</head>

<div>
    <div style="display: flex;">
        <div style="flex-basis: 50%; height: 800px; background-image : url( '/static/image/back.jpg' );">
            <div style="flex-direction: column; margin: 400px; margin-top: 300px;">
                
            </div>
        </div>
        <div style="flex-basis: 50%; height: 800px; display: flex;">
            <div style="flex-direction: column; margin: 150px; margin-top: 50px;">
                <img src="{% static '/image/logo-m.png' %}" style="margin :70px; width: 300px; height: 300px;">
                <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <label for="inputEmail" class="sr-only">ID</label>
                        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Id" required autofocus>
                        <br>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <br>
                        <input class="btn btn-dark" type="submit" value="Login" style="width: 100%; height: 45px;">
                        <br>
                        <br>
                        <div class="div-signup mb-3" style="text-align: center;">
                            <p>
                                <a href="{% url 'signup' %}">Sign Up</a>
                                / 
                                <a href="{% url 'find' %}">Find ID&PW</a>
                            </p>
                        </div>
                </form>            
            </div>    
        </div>
    </div>
</div>
</html>