<div>
    <h1>FIND ID</h1>
    <table>
        <td>
            <div>
                <label>이름</label>
                <input name="realname" type="text" value="" id="exampleFormControlInput1" placeholder="이름">
            </div>
            <div>
                <label>이메일</label>
                <input name="email" type="email" value="" id="exampleFormControlInput1" placeholder="이메일">
            </div>
        </td>
        <td>
            <button>찾기</button>
        </td>
    </table>
</div>
<div>
    <h1>FIND PW</h1>
    <table>
        <td>
            <div>
                <label>아이디</label>
                <input name="username" type="text" value="" id="exampleFormControlInput1" placeholder="아이디">
            </div>
            <div>
                <label>이름</label>
                <input name="realname" type="text" value="" id="exampleFormControlInput1" placeholder="이름">
            </div>
            <div>
                <label>이메일</label>
                <input name="email" type="email" value="" id="exampleFormControlInput1" placeholder="이메일">
            </div>
        </td>
        <td>
            <button>찾기</button>
        </td>
    </table>
</div>

